
<!-- <h1>helloworld</h1>
<i class='bx bx-user'></i>
<i class='bx bxs-user'></i>
<i class='bx bxl-facebook-square'></i>
<p>hello world</p> -->


<app-banner appResponsive ></app-banner>
<app-personal-information appResponsive></app-personal-information>
<app-education appResponsive></app-education>
<app-work-experience appResponsive></app-work-experience>
<app-skills appResponsive></app-skills>
<app-projects appResponsive></app-projects>
<app-contact appResponsive></app-contact>
<router-outlet></router-outlet>
