<nav class="navbar navbar-expand-lg navbar-dark bg-dark z=3">
  <a class="navbar-brand" href="#">Angular Concept Practice</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-4">
      <!-- <a class="nav-item nav-link active" routerLink="ifelse"> if/else</a>
            <a class="nav-item nav-link active" routerLink="ngclass-ngstyle"
              >ngClass and ng Style</a
            > -->
      <!-- simple link -->
      <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="tables"
          >Tables</a
        >
      </li> -->
      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Tables
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="primengpractice">Basic</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="responsivetable"
                  >Responsive</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="paginatortable"
                  >Paginator</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="sorttable">Sort</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="filtertable">Filter</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="sorttable">Sort</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->
      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Form
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="templateform"
                  >Template Form</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="reactiveForm"
                  >Reactiive Form</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->

      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Api intergration
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" routerLink="get-api">Get Api</a></li>
              <li><a class="dropdown-item" href="post-api">Post Api</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->
    </div>
  </div>
</nav>
