<h3>Latest comments</h3>
<div class="divider"></div>
@for (item of data; track data) {
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>

<section>
  <img src="{{ item.ProfileImageSrc }}" alt="" />
  <div class="content">
    <h6>{{ item.username }}</h6>
    <h6>{{ item.comment }}</h6>
  </div>
  <img src="{{ item.thumbnailSrc }}" alt="" />
</section>
<div class="link">
  <a routerLink="comments">Go to comments</a>
</div>
}
