<h3 class="mt-3">Concat Operator</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <strong>Exercise 1 | Map</strong>
    <hr />
    <p class="bg-light border-round py-4 px-3">
      <strong>Videos : ['Tech' , 'Comedy' , 'News']</strong>
    </p>
    <ul id="elContainer"></ul>
    <hr />
  </div>

  <div class="col-md-4">
    <strong>Source 2| map + concat all</strong>
    <hr />
    <p class="bg-light border-round py-4 px-3">
      <strong>Videos : ['Tech' , 'Comedy' , 'News']</strong>
    </p>
    <ul id="elContainer2"></ul>

    <hr />
  </div>
  <div class="col-md-4">
    <strong>Source 3 | concat map</strong>
    <hr />
    <p class="bg-light border-round py-4 px-3">
      <strong>Videos : ['Tech' , 'Comedy' , 'News']</strong>
    </p>
    <ul id="elContainer3"></ul>
    <hr />
  </div>
</div>
