<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular Concept Practice</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-4">
      <a class="nav-item nav-link active" routerLink="ifelse"> if/else</a>
      <a class="nav-item nav-link active" routerLink="ngclass-ngstyle"
        >ngClass and ng Style</a
      >
      <a class="nav-item nav-link active" routerLink="templateform"
        >Template Form</a
      >
      <a class="nav-item nav-link active" routerLink="reactiveform"
        >Reactive Form</a
      >
      <a class="nav-item nav-link active" routerLink="barchart">Barchart</a>
      >
    </div>
  </div>
</nav>

<!-- <app-ifelse /> -->
<!-- <app-ngclass-ngstyle /> -->
<!-- <app-tables></app-tables> -->
<router-outlet />
