<div class="my-3">
  <h3>interval and Timer</h3>
  <br />
  {{ objMsg }}
  <div class="cointainer">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">user 1</div>
          <div class="card-body">
            <ul id="elContainer"></ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">user 1</div>
          <div class="card-body">
            <ul id="elContainer2"></ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">user 1</div>
          <div class="card-body">
            <ul id="elContainer3"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
