<h1>Admin Panel</h1>
<!-- <ul>
    <li class="d-flex justify-content-center align-items-baseline">
        <span class="material-symbols-outlined">
            account_circle
            </span>
                    <span class="data">item1</span>
    </li>

</ul> -->
<div >
    <ul class="flex justify-content-center align-items-baseline">
        <li>
            <span class="material-symbols-outlined">
                account_circle
                </span>
                        <span class="flex" >item1</span>
        </li>
    </ul>
</div>