<div class="container mt-3 d-flex gap-4">
  <button class="btn btn-primary" (click)="switchLanguage('en')">
    English
  </button>
  <button class="btn btn-primary ml-3" (click)="switchLanguage('ar')">
    العربية
  </button>
  <button class="btn btn-primary mr-4" (click)="switchLanguage('de')">
    Deutsch
  </button>
</div>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">{{
          "HEADER.SUBSCRIBE" | translate
        }}</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">{{
          "HEADER.LARGE" | translate
        }}</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="mx-3"
            role="img"
            viewBox="0 0 24 24"
          >
            <title>Search</title>
            <circle cx="10.5" cy="10.5" r="7.5" />
            <path d="M21 21l-5.2-5.2" />
          </svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">{{
          "HEADER.SIGN_UP" | translate
        }}</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="#">{{ "NAV.WORLD" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.US" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{
        "NAV.TECHNOLOGY" | translate
      }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.DESIGN" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.CULTURE" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{
        "NAV.BUSINESS" | translate
      }}</a>
      <a class="p-2 link-secondary" href="#">{{
        "NAV.POLITICS" | translate
      }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.OPINION" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.SCIENCE" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.HEALTH" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.STYLE" | translate }}</a>
      <a class="p-2 link-secondary" href="#">{{ "NAV.TRAVEL" | translate }}</a>
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ "BLOG.TITLE" | translate }}</h1>
      <p class="lead my-3">{{ "BLOG.PARAGRAPH" | translate }}</p>
      <p class="lead mb-0">
        <a href="#" class="text-white fw-bold">{{
          "BLOG.CONTINUE_READING" | translate
        }}</a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{
            "NAV.WORLD" | translate
          }}</strong>
          <h3 class="mb-0">{{ "BLOG.FEATURED_POST" | translate }}</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">{{
            "BLOG.CONTINUE_READING" | translate
          }}</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{
            "NAV.DESIGN" | translate
          }}</strong>
          <h3 class="mb-0">{{ "BLOG.POST_TITLE" | translate }}</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">{{
            "BLOG.CONTINUE_READING" | translate
          }}</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        {{ "BLOG.FROM_THE_FIREHOSE" | translate }}
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">
          {{ "BLOG.SAMPLE_BLOG_POST" | translate }}
        </h2>
        <p class="blog-post-meta">
          January 1, 2021 {{ "BLOG.BY" | translate }} <a href="#">Mark</a>
        </p>

        <p>{{ "BLOGSAMPLE.POST_CONTENT" | translate }}</p>

        <hr />
        <p>{{ "BLOGSAMPLE.PLACEHOLDER_CONTENT" | translate }}</p>

        <h2>{{ "BLOCKQUOTES.TITLE" | translate }}</h2>
        <p>{{ "BLOCKQUOTES.DESCRIPTION" | translate }}</p>
        <blockquote class="blockquote">
          <p>{{ "BLOCKQUOTES.QUOTED_TEXT" | translate }}</p>
        </blockquote>
        <p>{{ "BLOCKQUOTES.PARAGRAPH" | translate }}</p>
        <h3>{{ "BLOCKQUOTES.LIST_TITLE" | translate }}</h3>
        <p>{{ "BLOGSAMPLE.PLACEHOLDER_CONTENT" | translate }}</p>
        <h3>{{ "Ordered list:" | translate }}</h3>
        <ol>
          <li>{{ "First list item" | translate }}</li>
          <li>
            {{ "Second list item with a longer description" | translate }}
          </li>
          <li>{{ "Third list item to close it out" | translate }}</li>
        </ol>

        <h3>{{ "Unordered list:" | translate }}</h3>
        <ul>
          <li>{{ "First list item" | translate }}</li>
          <li>
            {{ "Second list item with a longer description" | translate }}
          </li>
          <li>{{ "Third list item to close it out" | translate }}</li>
        </ul>

        <h3>{{ "Definiton list:" | translate }}</h3>
        <dl>
          <dt>{{ "HyperText Markup Language (HTML)" | translate }}</dt>
          <dd>
            {{
              "The language used to describe and define the content of a Web page"
                | translate
            }}
          </dd>
          <dt>{{ "Cascading Style Sheets (CSS)" | translate }}</dt>
          <dd>
            {{ "Used to describe the appearance of Web content" | translate }}
          </dd>
          <dt>{{ "JavaScript (JS)" | translate }}</dt>
          <dd>
            {{
              "The programming language used to build advanced Web sites and applications"
                | translate
            }}
          </dd>
        </dl>
        <h2>{{ "Heading" | translate }}</h2>
        <p>
          {{
            "This is some additional paragraph placeholder content." | translate
          }}
        </p>
        <h3>{{ "Sub-heading" | translate }}</h3>
        <p>
          {{
            "This is some additional paragraph placeholder content." | translate
          }}
        </p>
        <pre><code>{{ 'Example code block' | translate }}</code></pre>
      </article>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">{{
          "PAGINATION.OLDER" | translate
        }}</a>
        <a
          class="btn btn-outline-secondary disabled"
          href="#"
          tabindex="-1"
          aria-disabled="true"
          >{{ "PAGINATION.NEWER" | translate }}</a
        >
      </nav>
    </div>
  </div>
</main>

<footer class="blog-footer">
  <p>{{ "FOOTER.BLOG_TEMPLATE" | translate }}</p>
  <p>
    <a href="#">{{ "FOOTER.BACK_TO_TOP" | translate }}</a>
  </p>
</footer>
