<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular PrimeNG Components Practice</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-4">
      <!-- <a class="nav-item nav-link active" routerLink="ifelse"> if/else</a>
          <a class="nav-item nav-link active" routerLink="ngclass-ngstyle"
            >ngClass and ng Style</a
          > -->
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="misc"
          >Misc</a
        >
      </li>
      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Tables
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="">Filter</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="treetable">Tree Table</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="dataview">Data view</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->
      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Form
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="basic-form">
                  Form Components</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->

      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Panel
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="panel"> Basic Panel</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="advance-panel"
                  >Advance Panel</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->
      <!-- dropdowncode start -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Menu
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" routerLink="menubar">Menubar</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="advance-menu"
                  >advance Menu</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- dropdown code end -->
    </div>
  </div>
</nav>
