<h3 class="px-4 mt-3">Async Subject</h3>
<hr />

<div class="row">
  <div class="col">
    <h3>Add Video</h3>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4">
    <input type="text" name="" id="" class="form-control" #input />
  </div>
  <div class="col-md-3">
    <button class="btn btn-success" (click)="onChange(input)">Add Video</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <strong>User - 01</strong>
    <ul>
      <li>
        <strong>Video :{{ asyncvideoEmit }}</strong>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <strong>Click to complete</strong>
    <button class="btn btn-success" (click)="onComplete()">
      complete subscription
    </button>
  </div>
</div>
