<h3 class="mt-3 px-4">Custom Observable</h3>
<div class="row">
  <div class="col-md-4">
    <strong class="ml-5 bg-blue-900">Ex -1 (Manual)</strong>
    <hr />

    <ul
      class="techlist"
      id="elContainer"
      [ngClass]="{
        completed: techStatus === 'completed',
        error: techStatus === 'error'
      }"
    >
      <!-- <li>Angular</li>
      <li>Typescript</li>
      <li>Bootstrap</li> -->
    </ul>
  </div>
  <div class="col-md-4 px-4">
    <strong>Ex -1 (Custom Observable)</strong>
    <hr />

    <ul class="techlist completed">
      <li class="">Angular</li>
      <li>Typescript</li>
      <li>Bootstrap</li>
    </ul>
  </div>
</div>
<div class="row mt-4 px-4">
  <div class="col-12">
    <h3>Random Names</h3>
    <p class="bg-light border-round py-4 px-3">
      <strong>Random names :</strong> 'sania','rabia', 'sana' , 'uxtrends' ,
      'alpha' ,'react' ,'bootstrap'
    </p>
    <hr />
    <p><strong class="text-success">Frameworks</strong></p>
    <span class="badge badge-pill badge-success">Success</span>
  </div>
</div>
