strong {
  margin-left: 15px;
}
li {
  list-style-type: none;
  background-color: #f8f8f8;
  border: 1px solid #dddd;
  padding: 7px 16px;
  margin-bottom: 10px;
}
.error li {
  background-color: rgb(243, 219, 219);
  color: red;
  border: 1px solid rgb(228, 161, 161);
}

.completed li {
  background-color: rgb(182, 223, 182);
  color: black;
  border: 1px solid rgb(189, 216, 188);
}
