<app-alert
  [message]="'resuse component from alert'"
  [alerttype]="'Info'"
></app-alert>
<!-- @output -->
<app-button
  [btnText]="'Save Records'"
  (onbtnclick)="getdata($event)"
  [btnClasses]="'btn btn-success'"
></app-button>
<p>get-api works!</p>
<!-- <button (click)="getalluser()">click</button> -->
<ul *ngFor="let item of users">
  <li>{{ item.name }}</li>
</ul>
<!-- hettttttttttttttttttllo -->
<!-- heltttttttttttttttttttttlo -->
<!-- hettttttttttttttttllo -->
<!-- hello -->
<!-- fdrjerkerejkfjdkrjdjgjfdldlkredvvefdordrkjkt vnr  -->
<!-- hello -->
<!-- hello -->
<!-- hello -->
<!-- hello -->
<!-- hello -->
