/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-root {
  --background: #dedede;
  --light-black: rgba(48, 48, 48, 0.1);
  font-family: sans-serif;
  min-height: 100vh;
  display: block;
  width: 100vw;
  background-color: var(--background);
}
.flat {
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 5px 5px 7px #b2b2b2, -5px -5px 7px #fcfcfc;
}
