<router-outlet />

<div class="card flex justify-content-center">
  <p-button label="Submit" class="mybutton" />
</div>
<div class="grid">
  <div class="col-8">
    <div class="grid">
      <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          6
        </div>
      </div>
      <div class="col-6">
        <div
          class="text-center p-3 border-round-sm bg-primary font-bold bg-blue-300"
        >
          6
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          12
        </div>
      </div>
      <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          6
        </div>
      </div>
      <div class="col-6">
        <div
          class="text-center p-3 border-round-sm bg-primary font-bold bg-blue-300"
        >
          6
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          12
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="grid">
      <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          6
        </div>
      </div>
      <div class="col-6">
        <div
          class="text-center p-3 border-round-sm bg-primary font-bold bg-blue-300"
        >
          6
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          12
        </div>
      </div>
      <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          6
        </div>
      </div>
      <div class="col-6">
        <div
          class="text-center p-3 border-round-sm bg-primary font-bold bg-blue-300"
        >
          6
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">
          12
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div
        class="text-center p-3 border-round-sm bg-primary font-bold maxcontent"
      >
        4
      </div>
    </div>
  </div>
</div>
<div class="field">
  <label for="firstname1">Firstname</label>
  <input
    id="firstname1"
    type="text"
    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
  />
</div>
<div class="field">
  <label for="lastname1">Lastname</label>
  <input
    id="lastname1"
    type="text"
    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
  />
</div>
