<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a routerLink="from-event" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">From Event</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="interval-timer" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">interval and Timer</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="ofandfrom" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">OF and From</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="to-array" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">To array</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="custom-observable" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Custom Observable</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="map" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Map Operator</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="pluck" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Pluck Operator</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="filter" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Filter Operator</div>
      </a>
    </div>
  </div>
</div>
