<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a routerLink="from-event" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">From Event</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="interval-timer" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">interval and Timer</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="ofandfrom" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">OF and From</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="to-array" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">To array</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="custom-observable" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Custom Observable</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="map" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Map Operator</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="pluck" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Pluck Operator</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="filter" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Filter Operator</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="take" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Take , Take Last , Take Until</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="concat" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Concat</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="merge" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Merge</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="mergemap" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Merge map</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="concatmap" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Concat map</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="switchmap" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Switch map</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="subject" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Subject</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="replaysubject" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Replay Subject</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="asyncsubject" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Async Subject</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="tap" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Tap operator</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="combinelatest" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Combine Latest & with Latest from
        </div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="deboucetime" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Debounce Time & Distinct Until Changed
        </div>
      </a>
    </div>
  </div>
</div>
