<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a routerLink="from-event" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">From Event</div>
      </a>
    </div>
    <div class="ag-courses_item">
      <a routerLink="interval-timer" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">interval and Timer</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="ofandfrom" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">OF and From</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="to-array" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">To array</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerlink="ofandfrom" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Of and From Operator</div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">Graphic Design</div>
      </a>
    </div>
  </div>
</div>
