<h3 class="mt-4">Take , Take Last, Take Until</h3>
<hr />
<p class="bg-light border-round py-4 px-3">
  <strong>Data :</strong> RandomNames:'sania','rabia', 'sana' , 'Samia',
  'Sara',Ahmad
</p>
<div class="row">
  <div class="col-4">
    <strong>Ex -1 | Take (5)</strong>
    <hr />
    <ul id="elContainer"></ul>
  </div>
  <div class="col-4">
    <strong>Ex -2 | Take Last</strong>
    <hr />
    <ul id="elContainer2"></ul>
  </div>
  <div class="col-4">
    <strong>Ex -3 | Take Until</strong>
    <hr />
    <ul id="elContainer3"></ul>
  </div>
</div>
