<h3 class="mt-3">Map Operator</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <strong>Exercise 1</strong>
    <hr />
    <p class="bg-light border-round py-4 px-3">
      <strong>Map :</strong> 'Video' + data
    </p>
    <p class="">
      <strong class="pr-4 text-success">Message: </strong>{{ msg1 }}
    </p>
    <hr />
  </div>

  <div class="col-md-4">
    <strong>Exercise 2</strong>
    <hr />
    <p class="bg-light border-round py-4 px-3">
      <strong>Map data=></strong> data * 10
    </p>
    <p class="">
      <strong class="pr-4 text-success">Message: </strong>{{ msg2 }}
    </p>
    <hr />
  </div>
  <div class="col-md-4">
    <strong>Exercise 3</strong>
    <hr />
    <p class="bg-light border-round py-4 px-3">
      <strong>Map Object =></strong> Map data
    </p>
    <ul id="elContainer"></ul>
    <hr />
  </div>
</div>
