<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular HighCharts</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-4">
      <a class="nav-item nav-link active" routerLink="linechart">LineChart</a>
      <a class="nav-item nav-link active" routerLink="areachart">AreaChart</a>
      <a class="nav-item nav-link active" routerLink="chartpractice"
        >app-chartpractice</a
      >
      <a class="nav-item nav-link active" routerLink="piechart">PieChart</a>
      <a class="nav-item nav-link active" routerLink="columnchart"
        >ColumnChart</a
      >
      <a class="nav-item nav-link active" routerLink="bubblechart"
        >Bubble Chart</a
      >
      <a class="nav-item nav-link active" routerLink="dynamicchart"
        >DynamicChart</a
      >
    </div>
  </div>
</nav>

<!-- linechart -->
<!-- <highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block"
>
</highcharts-chart> -->

<!-- <app-linechart></app-linechart> -->
<!-- <app-areachart></app-areachart> -->
<router-outlet></router-outlet>
<!-- <app-chartpractice></app-chartpractice> -->
