<div class="row">
  <div class="col-lg-4">
    <h2>Barchart</h2>

    <canvas id="barchart"> </canvas>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <h2>Line chart</h2>

      <canvas id="linechart"> </canvas>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <h1>Piechart</h1>

      <canvas id="piechart"> </canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <h1>Doughnut chart</h1>

      <canvas id="doughnutchart"> </canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <h1>Polar Area chart</h1>

      <canvas id="polarchart"> </canvas>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <h1>Radar chart</h1>

      <canvas id="radarchart"> </canvas>
    </div>
  </div>

  <!-- <div class="col-lg-4">
    <h1>Bubble chart</h1>
    
    <canvas id="bubblechart"> </canvas>
  </div> -->
  <router-outlet />
</div>
