<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular HighCharts</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-4">
      <a class="nav-item nav-link active" routerLink="/">LineChart</a>
      <a class="nav-item nav-link active" routerLink="areachart">AreaChart</a>
      <a class="nav-item nav-link active" routerLink="chartpractice"
        >Pie Chart</a
      >
      <a class="nav-item nav-link active" routerLink="columnchart"
        >ColumnChart</a
      >
      <a class="nav-item nav-link active" routerLink="barchart">Barchart</a>
      >
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
