<h1>From Event</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Add Video</h5>
        </div>
        <div class="card-body">
          <button class="btn btn-primary" #addBtn>hello</button>
          <!-- // step 1: use from event  to create template referece variable -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Add Video</h5>
        </div>
        <div class="card-body">
          <ul id="elContainer">
            <!-- step5 to apend child -->
            <!-- //for append child of li element to give id of ul -->
          </ul>
        </div>
      </div>
    </div>

    <!-- if want to add list 2 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Add Video</h5>
        </div>
        <div class="card-body">
          <ul id="elContainer2">
            <!-- step5 to apend child -->
            <!-- //for append child of li element to give id of ul -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
