/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --green: #69f0ae;
  --green-light: #b9f6ca;
  --gray-light: #bdbdbd;
  --dark-gray: #263238;
  --black: #212121;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--dark-gray);
}
.container {
  margin: 0 auto;
  max-width: 1500px;
  outline: 0px solid white;
}
h1 {
  padding: 1rem 0;
  text-align: center;
  letter-spacing: 1px;
  color: var(--green);
  outline: 1px solid white;
  font-family: "Roboto Condensed", sans-serif;
}
